---
layout: index
title: Home
permalink: /
---

<div class="container mtb">
    <div class="row">

        <! -- BLOG POSTS LIST -->
        <div class="col-lg-8">

            {% for post in site.categories['methods'] %}
                <! -- Blog Post -->
                <a href="{{ post.url | prepend: site.baseurl | prepend: site.url }}">
                    <img class="img-responsive" src="{{ "/assets/img/methods/" | prepend: site.baseurl | prepend: site.url }}{{ post.img }}">
                </a>    
                <a href="{{ post.url | prepend: site.baseurl | prepend: site.url }}"><h3 class="ctitle">{{ post.title }}</h3></a>
                <p><csmall>{{ post.date | date: "%b %-d, %Y" }}. | By: {{ post.author }}</csmall></p>
                {{ post.excerpt }}
                <p><a href="{{ post.url | prepend: site.baseurl | prepend: site.url }}">[Read More]</a></p>
                <div class="hline"></div>

                <div class="spacing"></div>
            {% endfor %}

        </div><! --/col-lg-8 -->

        {% include sidebar.html %}

    </div><! --/row -->
</div><! --/container -->
