<div id="headerwrap">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h3>Collections of cutting edge machine learning methods</h3>
                <h1>Best Machine Learning Methods of All Kinds</h1>
                <h5>There are soooo many different machine learning methods in different areas for different purposes.</h5>
                <h5>Just want to collect some interesting ones.</h5>
            </div>
            <div class="col-lg-8 col-lg-offset-2 himg">
                <img src="{{ "/assets/img/world-map-dotted-black.jpg" | prepend: site.baseurl }}" class="img-responsive">
            </div>
        </div><!-- /row -->
    </div> <!-- /container -->
</div><!-- /headerwrap -->